.brands {

}

.brands__container {

}

.brands__header {
    margin-bottom: 70px;

    @media (max-width: $tablet) {
        margin-bottom: 50px;
    }

    @media (max-width: $mobile-l) {
        margin-bottom: 25px;
    }
}

.brands__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -20px -50px;

    @media (max-width: $tablet) {
        margin: -10px -30px;
    }
}

.brands__logo {
    max-width: 175px;
    width: 100%;
    // height: 55px;
    margin: 20px 50px;

    @media (max-width: $tablet) {
        max-width: 140px;
        margin: 10px 30px;
    }

    @media (max-width: $mobile-l) {
        max-width: 120px;
        margin: 10px 20px;
    }

    @media (max-width: $mobile-m) {
        max-width: 100px;
        margin: 10px 20px;
    }
}