.header {
    position: relative;
    --header-height: 110px;
    height: var(--header-height);
    background: $frame-dark;

    @media (max-width: $container-width + px) {
        --header-height: 100px;
    }

    @media (max-width: $mobile-l) {
        --header-height: 63px;
    }
}

.header__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__logo {

    @media (max-width: $mobile-l) {
        display: none;
    }
}

.menu__logo {
    display: none;
    
    @media (max-width: $mobile-l) {
        display: block;
    }
}


// Меню
.menu {
    margin: 0 24px 0 54px;
    overflow: auto;
    @include scrollbar(4px, 100%, #fff, rgba(255,255,255,.1));

    @media (max-width: $container-width + px) {
        margin-left: 32px;
    }

    @media (max-width: 1124px) {
        margin-left: 24px;
    }

    @media (max-width: $hide-menu) {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - var(--header-height));
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(53, 57, 63, 0.31) 0%, rgba(28, 32, 37, 0) 104.23%);
        backdrop-filter: blur(81px);
        padding: 30px;
        margin: var(--header-height) 0 0 0;
        opacity: 0;
        visibility: hidden;
        transition: $tr;

        &._show {
            opacity: 1;
            visibility: visible;
        }
    }
}

.menu__copyright {
    display: none;
    margin-top: 27px;

    @media (max-width: $hide-menu) {
        display: block;
    }
}

// Навигация
.nav {

    @media (max-width: $hide-menu) {
        margin: 15px 0 0;
    }
}

.nav__list {
    display: flex;
    align-items: center;

    & li {

        &:not(:last-child) {
            margin-right: 22px;

            @media (max-width: 1150px) {
                margin-right: 16px;
            }
        }

        & a {
            font-weight: 400;
        }
    }

    @media (max-width: $hide-menu) {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px 32px;
    }

    @media (max-width: $tablet) {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    @media (max-width: $mobile-l) {
        grid-template-columns: 1fr 1fr;
    }
}

.header__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: $mobile-l) {
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }
}

.header__location {
    display: flex;
    align-items: center;

    &_menu {
        display: none;
        
        @media (max-width: 600px) {
            display: flex;
            margin-top: 30px;
        }
    }

    &_header {

        @media (max-width: 600px) {
            display: none;
        }
    }
}

.header__location-text {
    font-weight: 400;
    margin-left: 10px;
    color: $text-second;
}

.header__phone {
    font-size: 25px;
    transition: $tr;
    margin-left: 54px;

    @media (any-hover: hover) {
        
        &:hover {
            color: $accent;
        }
    }

    &:active {
        color: $accent-active;
    }

    @media (max-width: $container-width + px) {
        font-size: 20px;
        margin-left: 32px;
    }

    @media (max-width: 1124px) {
        margin-left: 24px;
    }

    @media (max-width: $tablet) {
        font-size: 18px;
    }

    @media (max-width: $mobile-l) {
        font-size: 16px;
        margin: 0;
    }
}

.burger {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 24px;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 18px;
        height: 2px;
        background: $text-primary;
        border-radius: 10px;
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 6px));
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 6px));
        }
    }

    &._active {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }
    
            &:nth-child(2) {
                width: 0;
            }
    
            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    @media (max-width: $hide-menu) {
        display: block;
    }
}