.acc-list {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 12px;

    @include scrollbar(4px, 100%, $text-second, rgba(255,255,255,.05));

    & > * {

        &:not(:last-child) {
            margin-bottom: 25px;

            @media (max-width: $tablet) {
                margin-bottom: 16px;
            }
        }
    }

    @media (max-width: $tablet) {
        max-height: none;
    }
}

.acc {
    // min-height: 84px;
    display: block;
    overflow: hidden;
    transition: $tr;

    &_show {
        & > .acc__toggle {
            background: $frame-light;

            & .acc__toggle-title {
                color: $text-primary;
            }

            & .acc__toggle-icon {
                transform: scale(-1, -1);

                & svg {
                    stroke: #fff;
                }
            }
        }
        
        & > .acc__body {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Шапка аккордеона
.acc__toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $frame-dark;
    border-radius: $radius;
    padding: 31px 25px;
    text-align: left;
    cursor: pointer;
    transition: $tr;

    @media (max-width: $mobile-l) {
        padding: 17px 15px 17px 20px;
    }
}

.acc__toggle-title {
    font-size: 18px;
    color: $text-second;
    pointer-events: none;
    transition: $tr;

    @media (max-width: $mobile-l) {
        font-size: 15px;
    }
}

.acc__toggle-icon {
    display: none;
    margin-left: 16px;
    transition: $tr;
    pointer-events: none;

    & svg {
        stroke: rgba(255,255,255,.75);
    }

    @media (max-width: $tablet) {
        display: block;
    }
}

// Тело аккордеона
.acc__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: $tr;
}

.acc__content {
    font-size: 15px;
    font-weight: 400;
    padding: 16px 20px 0;
}
