.section {
    margin: 100px 0;

    @media (max-width: $mobile-l) {
        margin: 80px 0;
    }
}

// Шапка раздела
.s-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @media (max-width: $tablet) {
        margin-bottom: 30px;
    }

    @media (max-width: $mobile-l) {
        margin-bottom: 25px;
    }
}

.s-header__label {
    font-size: 16px;
    font-weight: 400;
    color: $text-second;
    text-transform: uppercase;

    @media (max-width: $tablet) {
        font-size: 15px;
    }
}

.s-header__title {
    font-size: 58px;
    text-transform: uppercase;
    line-height: 1.1;

    @media (max-width: $tablet) {
        font-size: 48px;
    }

    @media (max-width: $mobile-l) {
        font-size: 38px;
    }
}

//========================================================================================================================================================

.s-footer {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;

    @media (max-width: $mobile-l) {
        flex-direction: column;
        align-items: flex-start;

        & > * {

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}