.swiper {
    // overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
}

.swiper-vertical {

    .swiper-wrapper {
        flex-direction: column;
    }
}

.swiper-autoheight {

    .swiper-wrapper {
        align-items: flex-start;
    }
}

.swiper-initialized {

    .swiper-slide {
        flex-shrink: 0;
        // transition-property: transform;
    }
}

.swiper-android {

    .swiper-slide,
    .swiper-wrapper {
        transform: translate3d(0px, 0, 0);
    }
}

.swiper-button-lock {
    display: none !important;
}

// Пагинация
.pagination-block {
    position: relative;
    background: $frame-light;
    border-radius: 50px;
    padding: 9px 15px;
    overflow: hidden;
}

.pagination {
    // width: auto !important;
    display: flex;
    align-items: center;
    // margin-left: -18px;
}

@mixin showBullet() {
    transform: scale(1);
    width: 10px;
    margin-right: 10px;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    // opacity: 0;
    transition: $tr;
    cursor: pointer;
    width: 0;
    transform: scale(0);
    margin-right: 0;

    &:not(:last-child) {
        // margin-right: 10px;
    }

    &:last-child {
        margin-right: 0;
    }

    // &:last-child.swiper-pagination-bullet-active-main {
    //     margin-right: -18px;
    // }

    &-active {
        background: $accent;
        @include showBullet;
    }

    &-prev {
        @include showBullet;
    }

    &-next {
        @include showBullet;
    }

    &-next-next {
        width: 10px;
        transform: scale(.5);
        margin-right: 10px;
    }

    &._hide {
        // transform: scale(0);
        // width: 0;
        // margin-right: 0;
    }

    &._show {
        transform: scale(1);
        width: 10px;
        margin-right: 10px;
    }

    &._small {
        transform: scale(.5);
        width: 10px;
    }
}


// .swiper-pagination-bullets-dynamic {
// 	overflow: hidden;
// 	font-size: 0;
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
// 	transform: scale(0.33);
// 	position: relative;
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
// 	transform: scale(1);
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
// 	transform: scale(1);
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
// 	transform: scale(0.5) translateX(-50px);
//     // position: absolute;
//     // left: -100px;
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
// 	transform: scale(0.5) translateX(-50px);
//     visibility: hidden;
//     // position: absolute;
//     // left: -100px;
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
// 	transform: scale(0.5);
// }
// .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
// 	transform: scale(0);
//     visibility: hidden;
// }

// Скрываемые слайды

.hide-slides {

    & .swiper-slide {
        
        @media (min-width: 990px) {
            opacity: .15;
            transition: $tr;
            
            &.swiper-slide-active,
            &.swiper-slide-active + *,
            &.swiper-slide-active + * + *,
            &.swiper-slide-active + * + * + * {
                opacity: 1;
            }
        }
    }
}