.select {
    position: relative;
    width: 100%;
    height: 100%;

    &._open {

        & .select-input__chevron {

            & svg {
                transform: scale(-1, -1);
                stroke: #fff;
            }
        }

        & .select-dropdown{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &._valid {

        & .select-input__title {
            color: $text-primary;
        }
    }
    
    &_s {

        & .select-input {
            height: 36px;
        }
    }
}

.select-input {
    position: relative;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $frame-dark;
    border-radius: $radius;
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    @media (any-hover: hover) {
        
        &:hover {
            
            & .select-input__chevron {
                background: brig-color($frame-light, .98);
            }
        }
    }

    @media (max-width: $tablet) {
        height: 42px;
    }
}

.select-input__title {
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    padding: 0 33px;

    @media (max-width: $tablet) {
        font-size: 16px;
        padding: 0 24px;
    }

    @media (max-width: $mobile-l) {
        font-size: 16px;
    }
}

.select-input__chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 100%;
    background: $frame-light;
    pointer-events: none;
    transition: $tr;

    & svg {
        width: 24px;
        height: 24px;
        stroke: rgba(255,255,255,.75);
        transition: $tr;
    }

    @media (max-width: $tablet) {
        width: 42px;
    }
}

.select-dropdown {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    background: $frame-dark;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $tr;
}

.select-dropdown__list {
    max-height: 230px;
    padding: 12px 0;
    overflow-y: auto;

    @include scrollbar(4px, 100%, #fff, rgba(255,255,255,.1))
}

.select-dropdown__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: inherit;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: $tr;

    &._selected {

        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='%23559F11'/%3E%3C/svg%3E") no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: 0;
        visibility: hidden;
        transition: $tr;
    }

    &:hover {
        
        @media (any-hover: hover) {
            background: $frame-light;
            // background: brig-color(#000, .05);
        }
    }

    &:active {
        background: brig-color($frame-light, .97);
    }
}