// Общие стили и элементы

// Логотип
.logo {
    width: 89px;
    height: 75px;
    display: block;

    @media (max-width: $container-width + px) {
        width: 70px;
    }

    & img {
        object-fit: contain;
    }
}

// Копирайт сайта
.copyright {
    max-width: 300px;
    font-weight: 400;
    color: $text-second;

    @media (max-width: $tablet) {
        font-size: 16px;
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }

    @media (max-width: $mobile-m) {
        font-size: 12px;
    }
}

// Иконки
.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &_s {
        min-width: 16px;
        width: 16px;
        height: 16px;
    }

    &_m {
        min-width: 24px;
        width: 24px;
        height: 24px;
    }

    &_l {
        min-width: 32px;
        width: 32px;
        height: 32px;
    }
}
//========================================================================================================================================================


// Список соц. сетей
.social {
    display: flex;
    align-items: center;
}

.social__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transition: $tr;

    &:not(:last-child) {
        margin-right: 15px;
    }

    &:active {
        transform: scale(.9);
    }

    @media (any-hover: hover) {
        
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }
    }
}
//========================================================================================================================================================


// Оценка в Яндекс
@mixin yestimMobile() {
    flex-direction: row;

    & .yestim__content {
        align-items: flex-start;
        text-align: left;
        margin: 0 0 0 10px;
    }
}

.yestim {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_row {
        @include yestimMobile();
    }

    &_header {
        display: none;
    
        @media (max-width: 500px) {
            display: flex;
            margin-top: 27px;
        }
    }

    &_main {

        @media (max-width: 500px) {
            display: none;
        }
    }

    @media (max-width: $tablet) {
        @include yestimMobile();

        & .yestim__logo {
            width: 45px;
            height: 45px;
        }
    
        & .yestim__title {
            font-size: 15px;
        }
    
        & .yestim__rating {
            margin-top: 8px;
        }
    
        & .yestim__rating-text {
            font-size: 15px;
        }
    
        & .yestim__download {
            font-size: 12px;
            margin-top: 8px;
        }
    }
}

.yestim__logo {
    width: 65px;
    height: 65px;
}

.yestim__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.yestim__title {
    font-size: 20px;
    font-weight: 400;
}

.yestim__rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.yestim__rating-nums {
    font-weight: 400;
}

.yestim__rating-stars {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.yestim__rating-star {
    width: 16px;
    height: 16px;

    & svg {
        fill: #FCF75D;
    }
}

.yestim__download {
    font-size: 15px;
    font-weight: 400;
    opacity: .5;
    box-shadow: inset 0 -1px $text-primary;
    margin-top: 15px;
    transition: $tr;

    @media (any-hover: hover) {
        
        &:hover {
            opacity: 1;
        }
    }

    &:active {
        opacity: .8;
    }
}
//========================================================================================================================================================


// Текст с зелеными словами
.text-with-accent {

    & span {
        color: $accent;
        font-weight: 700;
    }
}
//========================================================================================================================================================


// Скачать документ
.dl-doc {
    display: flex;
    align-items: center;

    @media (any-hover: hover) {
        
        &:hover {

            & .dl-doc__text {
                opacity: 1;
            }
        }
    }
}

.dl-doc__icon {

}

.dl-doc__content {
    margin-left: 15px;
}

.dl-doc__text {
    font-size: 15px;
    font-weight: 400;
    opacity: .5;
    box-shadow: inset 0 -1px $text-primary;
    transition: $tr;
}
//========================================================================================================================================================
