@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
@include font('Gilroy', normal, 400, '../resources/fonts/Gilroy/Gilroy-Regular.woff2');
@include font('Gilroy', normal, 500, '../resources/fonts/Gilroy/Gilroy-Medium.woff2');
@include font('Gilroy', normal, 700, '../resources/fonts/Gilroy/Gilroy-Bold.woff2'); 

@include font('GothamPro', normal, 700, '../resources/fonts/GothamPro/GothamPro-Medium.woff2');

// Переменные
// ================ Colors Start ================
// Текст
$text-primary: #fff;
$text-second: create-rgba($text-primary, .7);
$accent: #559F11;
$accent-active: brig-color($accent, active);

// Задний фон разделов
$frame-primary: #1C2025;
$frame-dark: #161A1F;
$frame-light: #22272D;
// $frame-light: #0E1010;

// Обводка
$border-line: #cecece;
$input-placeholder: brig-color(#000, .3);

$error: #EB5757;

// Текстовые поля
$tf-label: $text-second;

// Цвета кнопок в файле 'scss/elements/button.scss'
// ================ Colors End ================

$radius: 7px;


// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1280;
$container-padding: 48;
$container-width: $max-width-container + $container-padding;
$hide-menu: 1100px;

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
// ================ Responsive End ================


// ================ Other Start ================
$ff-main: 'Gilroy', sans-serif; 
$tr: .3s;
// ================ Other End ================
//========================================================================================================================================================

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsive-type: 1;

// Сброс CSS
@import "./base/reset";

body {

    ._lock & {
        overflow: hidden;
		touch-action: none;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
    }

}
/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsive-type==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($max-width-container>0) {
			max-width: rem($max-width-container);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($container-padding>0) {
			padding: 0 rem(math.div($container-padding, 2));

            @media (max-width: $mobile-l) {
                padding: 0 rem(16);
            }
		}
	}
} 
// @else {
// 	// По брейк-поинтам
// 	[class*="__container"] {
// 		margin: 0 auto;
// 		@if ($max-width-container>0) {
// 			max-width: rem($max-width-container);
// 			box-sizing: content-box;
// 		} @else {
// 			@if ($container-padding>0) {
// 				padding: 0 rem(math.div($container-padding, 2));
// 			}
// 		}
// 		@media (max-width: $container-width + px) {
// 			max-width: rem(970);
// 		}
// 		@media (max-width: $tablet) {
// 			max-width: rem(750);
// 		}
// 		@media (max-width: $mobile-l) {
// 			max-width: none;
// 			@if ($container-padding>0 and $max-width-container>0) {
// 				padding: 0 rem(math.div($container-padding, 2));
// 			}
// 		}
// 	}
// }

// Библиотеки
// @import "./libs/swiper";

// Общие стили проекта
@import "./common";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Компоненты
@import "./components/cards/c-service";
@import "./components/cards/c-reviews";
@import "./components/cards/c-contacts";

// Стили частоиспользуемых секций
@import "./sections/header";
@import "./sections/main";
@import "./sections/sale";
@import "./sections/services";
@import "./sections/brands";
@import "./sections/portfolio";
@import "./sections/reviews";
@import "./sections/faq";
@import "./sections/contacts";
@import "./sections/footer";

// Модальные окна
@import "./components/modals/nfp";
@import "./components/modals/get-sale";
@import "./components/modals/callback";


@import "./components/form";